page-home {

  img {
    width: auto;
    margin: auto;
    display: block;
  }
  ion-avatar img{
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    height: 10vh;

  }

}
